/**
* Layout for the whole ModelImport
*
*  @author Wiebke Assenmacher
*/

/* colour variables */
* {
    -fx-white: #222222;
    -fx-brokenwhite: #2d2d2d;
    -fx-lightgrey: #111111;
    -fx-darkgrey: #cccccc;
}

/* sets the background of the whole plane */
.root {
    -fx-background-color: -fx-brokenwhite;
    -fx-font-family: "Cantarell", "Calibri", "sans-serif";
    -fx-text-fill: -fx-darkgrey;
    -fx-fill: -fx-darkgrey;
}

/* designs the welcomingtext */
.welcomep {
    -fx-font-size: 12px;
    -fx-display-caret:true;
    -fx-border-color: -fx-brokenwhite;
    -fx-background-color: -fx-brokenwhite;
    -fx-text-fill: -fx-darkgrey;
    -fx-fill: -fx-darkgrey;
}

.welcomep .content {
    -fx-background-color: -fx-brokenwhite;
    -fx-text-fill: -fx-darkgrey;
    -fx-fill: -fx-darkgrey;
    -fx-background-radius: 0 ;
}

/* and it's logo */
.icon {
    -fx-background-color: -fx-brokenwhite;
}

/* textfields edited by users */
.fillin {
    -fx-text-fill: -fx-darkgrey;
    -fx-fill: -fx-darkgrey;
    -fx-background-color: -fx-white;
    -fx-border-color: -fx-lightgrey;
    -fx-border-radius: 0;
    -fx-effect: dropshadow( three-pass-box , -fx-lightgrey, 0, 0.0 , 0 , 0 );
}

/* making them unscrollable */
.fillin .scroll-bar:vertical .increment-arrow,
.fillin .scroll-bar:vertical .decrement-arrow,
.fillin .scroll-bar:vertical .increment-button,
.fillin .scroll-bar:vertical .decrement-button,
.fillin .scroll-bar:horizontal .increment-arrow,
.fillin .scroll-bar:horizontal .decrement-arrow,
.fillin .scroll-bar:horizontal .increment-button,
.fillin .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0px;
}

.fillin .scroll-bar:vertical,
.fillin .scroll-bar:horizontal {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-opacity: 0;
}

/* labels and buttons */
.label{
	-fx-font-size: 0.9em;
	-fx-font-weight: 300;
	-fx-text-fill: -fx-darkgrey;
    -fx-fill: -fx-darkgrey;
}

.button-create{
    -fx-text-fill: -fx-darkgrey;
    -fx-fill: -fx-darkgrey;
    -fx-background-color: -fx-brokenwhite;
	-fx-border-color: -fx-lightgrey;
	-fx-text-alignment: center;
}
.button-chooser{
	-fx-background-color: -fx-brokenwhite;
    -fx-border-color: -fx-lightgrey;
}

.mainbuttonhover {
    -fx-background-color: -fx-brokenwhite;
    -fx-border-color: -fx-lightgrey;
    -fx-effect: dropshadow( three-pass-box , -fx-lightgrey, 5, 0.0 , 0 , 1 );
}